name: Ubuntu With PHP 7.4 and Swoole 4.5

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  CTEST_OUTPUT_ON_FAILURE: 1

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1

    - name: install php
      run: sudo .github/workflows/bin/install-php7.4.sh

    - name: install swoole
      run: sudo .github/workflows/bin/install-swoole4.5.sh
    
    - name: build and install library
      run: |
        cmake -H. -Bbuild -DCMAKE_BUILD_TYPE=Release -DWITH_PHP=1 -DWITH_SWOOLE
        sudo cmake --build build --target install --config Release -j
